*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style: none;
}
img {
  display: block;
}
.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/*хедер, лого*/
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-ul,
.addr-ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.studio-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
}

.hed-link {
  margin-right: 76px;
}

.studio-h {
  color: #2e2f42;
}
.studio-f {
  color: #f4f4fd;
}

.nav-list {
  display: block;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
  position: relative;
}
.nav-list:hover,
.nav-list:focus {
  color: #404bbf;
}
.nav-list.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 68px;
  left: 0;
  bottom: -1px;
  width: 10%;
  border-radius: 2px;
  color: #404bbf;
  background-color: #404bbf;
  width: 100%;
}
.st-blue {
  color: #404bbf;
}
.stic:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-header {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  display: flex;
  align-items: center;
}

.addr-link {
  color: #434455;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.addr-link:hover,
.addr-link:focus {
  color: #404bbf;
}
.address-head {
  font-style: normal;
}
section {
  padding: 120px 0;
}
/*секция 1, footer backgr*/
.zag {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
}
.section-one,
footer {
  background-color: #2e2f42;
}
.section-one {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/general_h_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}
.section-one-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-top: 48px;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}

/*секция 2 */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading-three {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.hed-marg {
  margin-bottom: 8px;
}
.general-p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.ul-section-two {
  display: flex;
  gap: 24px;
  max-width: 1128px;
}

.values-hd {
  margin-bottom: 8px;
}
.div-svg {
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
}
/* секция 3 */
.section-three {
  background-color: #f4f4fd;
}
.our-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.gen-heading-two,
.heading-two-four-s {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.ul-section-three {
  display: flex;
  gap: 24px;
}
.li-section-two {
  width: calc((100% - 72px) / 4);
}
.worker {
  padding: 32px 0;
}

.team-list {
  width: calc((100% - 72px) / 4);
  background-color: #ffffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.team-hd {
  text-align: center;
  margin-bottom: 8px;
}

.team-p {
  text-align: center;
}
.ul-masege-svg {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.masege-item {
  width: 40px;
  height: 40px;
}
.a-masege {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.a-masege:hover {
  background-color: #404bbf;
}
/* секция 4 */

.div-section-four {
  display: flex;
  flex-direction: column;
}
.ul-section-four {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 24px;
  row-gap: 48px;
}
.ul-section-four:last-child {
  margin-right: 0;
}
.portfolio-div {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.p-s-f {
  text-align: left;
}
.four-s-list {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 360px;
  transition-duration: 250ms;
}
.four-s-list:hover {
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214;
}
.four-s-list:hover .overlay {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.portfolio-img-text {
  position: relative;
  overflow: hidden;
}
.overlay {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color, #f4f4fd);
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*футер*/

.footer {
  padding: 100px 0;
}
.fot-link {
  margin-bottom: 16px;
}

.p-footer {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.p-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.foot-svg {
  margin-top: 16px;
  gap: 16px;
  max-width: 208px;
}
.foot-svg a:hover {
  background-color: #31d0aa;
}
.footer-div {
  display: flex;
}
.social-footer {
  margin-left: 120px;
}

.subscribe-div {
  margin-left: 80px;
}
.form-footer {
  gap: 24px;
  display: flex;
  align-items: flex-end;
}
.input-subscribe {
  font-family: inherit;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding-left: 16px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}
.input-subscribe::placeholder {
  color: #ffffff;
}
.btn-subscribe {
  font-family: "Roboto", sans-serif;
  margin-left: 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
}
.svg-airplan {
  margin-left: 16px;
}

/* модальное окно */

.modal-overley {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-overley,
.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  padding: 72px 24px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.div-form,
.form-modal,
.div-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.div-form {
  margin-bottom: 8px;
}

.form-modal > div:nth-child(4) {
  margin-bottom: 16px;
}

.div-modal {
  position: relative;
  padding-top: 0;
  align-items: start;
}

.icon-modal-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-modal,
.privacy-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #8e8f99;
  width: 100%;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.label-modal {
  font-size: 12px;
  margin-bottom: 4px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
  color: #8e8f99;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;

  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-modal:focus,
.input-modal:focus + .icon-modal-svg {
  border-color: #4d5ae5;
  fill: #4d5ae5;
}
.btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 0;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.btn-send {
  font-family: "Roboto", sans-serif;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-send:hover,
.btn-send:focus {
  background-color: #404bbf;
}
.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.comment-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-textarea::placeholder {
  color: #75757580;
}

.privacy-checkbox {
  width: 16px;
  height: 16px;
}
.privacy-block {
  align-items: flex-end;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 24px;
}
.custom-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  fill: transparent;
  border: solid 1px rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-checkbox:checked + .privacy-label > .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}
.privacy-link {
  color: #4d5ae5;
}
